<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.hybridca.runner.Runner</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navbarProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loadsite</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchboxProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>footerProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>landingProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initalizelog</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loaddriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closedriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitdriver</td>
<td>&nbsp;</td></tr>
</table>
