<h2>Methods that were not run</h2><table>
<tr><td>com.hybridca.runner.Runner.footerProduct</td></tr>
<tr><td>com.hybridca.runner.Runner.searchboxProduct</td></tr>
<tr><td>com.hybridca.runner.Runner.loadsite</td></tr>
<tr><td>com.hybridca.runner.Runner.navbarProduct</td></tr>
</table>