<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcf7f">  <td>21/09/27 18:37:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.searchData()[pri:0, instance:com.hybridca.runner.Runner@131ef10]">&gt;&gt;searchData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681094281</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/09/27 18:37:33</td>   <td>354</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.initalizelog()[pri:0, instance:com.hybridca.runner.Runner@131ef10]">&gt;&gt;initalizelog</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681094281</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/09/27 18:37:33</td>   <td>379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@131ef10]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@681094281</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/09/27 18:37:34</td>   <td>1510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.landingProduct()[pri:4, instance:com.hybridca.runner.Runner@131ef10]">landingProduct</td> 
  <td>main@681094281</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/09/27 18:37:46</td>   <td>13601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@131ef10]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@681094281</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/09/27 18:37:46</td>   <td>13715</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.quitdriver()[pri:0, instance:com.hybridca.runner.Runner@131ef10]">&lt;&lt;quitdriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681094281</td>   <td></td> </tr>
</table>
