<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:08</td>   <td>24106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:29</td>   <td>45396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:46</td>   <td>62671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:03</td>   <td>79667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:39</td>   <td>115540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:10</td>   <td>26230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.footerProduct()[pri:2, instance:com.hybridca.runner.Runner@6366ebe0]">footerProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>-6740</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.initalizelog()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;initalizelog</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:06</td>   <td>81779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.landingProduct()[pri:4, instance:com.hybridca.runner.Runner@6366ebe0]">landingProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>-6715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:44</td>   <td>663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:09</td>   <td>24782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:30</td>   <td>46114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:47</td>   <td>63302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:04</td>   <td>80321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:39</td>   <td>-4786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.loadsite()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">loadsite</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>-7196</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.loginData()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loginData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:46</td>   <td>2077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.navbarProduct()[pri:1, instance:com.hybridca.runner.Runner@6366ebe0]">navbarProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:40</td>   <td>116288</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.quitdriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;quitdriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>-6768</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.searchData()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;searchData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:31</td>   <td>47544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searchboxProduct(java.lang.String)[pri:3, instance:com.hybridca.runner.Runner@6366ebe0]">searchboxProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:48</td>   <td>64722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searchboxProduct(java.lang.String)[pri:3, instance:com.hybridca.runner.Runner@6366ebe0]">searchboxProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
</table>
