<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.loginData()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loginData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>428</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.searchData()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;searchData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.initalizelog()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;initalizelog</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:37</td>   <td>481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:39</td>   <td>2410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.loadsite()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">loadsite</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:44</td>   <td>7196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:44</td>   <td>7859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:23:46</td>   <td>9273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.navbarProduct()[pri:1, instance:com.hybridca.runner.Runner@6366ebe0]">navbarProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:08</td>   <td>31302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:09</td>   <td>31978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:10</td>   <td>33426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.footerProduct()[pri:2, instance:com.hybridca.runner.Runner@6366ebe0]">footerProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:29</td>   <td>52592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:30</td>   <td>53310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:31</td>   <td>54740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searchboxProduct(java.lang.String)[pri:3, instance:com.hybridca.runner.Runner@6366ebe0]">searchboxProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:46</td>   <td>69867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:47</td>   <td>70498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:24:48</td>   <td>71918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.searchboxProduct(java.lang.String)[pri:3, instance:com.hybridca.runner.Runner@6366ebe0]">searchboxProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:03</td>   <td>86863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:04</td>   <td>87517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.loaddriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&gt;&gt;loaddriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:06</td>   <td>88975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.landingProduct()[pri:4, instance:com.hybridca.runner.Runner@6366ebe0]">landingProduct</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:39</td>   <td>122736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.closedriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/26 22:25:40</td>   <td>123484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Runner.quitdriver()[pri:0, instance:com.hybridca.runner.Runner@6366ebe0]">&lt;&lt;quitdriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
</table>
